@import "tailwindcss";
@plugin "tailwindcss-animate";

@layer base {
  html {
    color-scheme: dark;
  }

  body {
    background-color: #09090b;
    color: #fafafa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: #ca8a04;
    color: #000;
  }

  * {
    border-color: #27272a;
  }
}
